*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
div{
  border: 1px solid black;
  padding: 40px;
  transition: all 0.5s;
  display: flex;
  flex: 1;
  border-radius: 100%
}
.red{
  width: 100vh; /* vh:屏幕高度，vw:屏幕宽度 */
  height: 100vh; 
}
.red.active{
  background: red;
}
.blue.active{
  background: blue;
}
.yellow.active{
  background: yellow;
}
.orange.active{
  background: orange;
}
.green.active{
  background: green;
}
.purple.active{
  background: purple;
}
